# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node / Tooling
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Temporary Files
*.tmp
*.bak
